%p#notice= notice

%p
  %b Address:
  = @location.address
%p
  %b Latitude:
  = @location.latitude
%p
  %b Longitude:
  = @location.longitude

%h3 Full Address
%ul
  %li
    = @location.address

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
